{% extends 'base.html' %}

{% block content %}
<div>
    <form method="post" id="passwordForm">
        <table class="table table-bordered table-hover">
            <colgroup>
                <col width="150">
                <col>
            </colgroup>
            <tr>
                <th>비밀번호</th>
                <td>
                    <input type="password" id="password" name="password" class="form-control" placeholder="비밀번호" required autofocus>
                </td>
            </tr>
        </table>
        <button class="btn btn-primary" type="submit">수정</button>
        <a href="{{ url_for('user.view', id=user['id']) }}" class="btn btn-danger">취소</a>
    </form>
</div>
{% endblock %}

{% block script %}
<script>
    var passwordRegExp = /^.*(?=^.{8,20}$)(?=.*\d)(?=.*[a-zA-Z])(?=.*[!@#$%^&+=]).*$/;

    $('#passwordForm').on('submit', function (e) {
        e.defaultPrevented();

        if (!passwordRegExp.test($('#password').val())) {
            alert('올바른 비밀번호를 입력하세요.');
            $('#password').focus();
            return false;
        }
    });
</script>
{% endblock %}
