{% extends 'base.html' %}

{% block content %}
<div>
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
        <tr>
            <th>제목</th>
            <th>날짜</th>
        </tr>
        </thead>
        <tbody>
        {% for board in boards %}
        <tr>
            <td><a href="{{ url_for('board.view', id=board['id']) }}">{{ board['title'] }}</a></td>
            <td>{{ board['created'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}